<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fortinet Threads Detector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" rel='stylesheet' type="text/css" media="screen">
    <link href="{% static 'css/jquery.dynatable.css' %}" rel='stylesheet' type="text/css">
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type="text/css">
    <link href="{% static 'css/jquery.datetimepicker.css' %}" rel='stylesheet' type="text/css">
  </head>
  <body>
    <h1 align="center">Fortinet Threads Monitor</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">StartTime</span>
            <input type="text" value="2015/01/01 00:00" class="datetimepicker form-control" id="starttime"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">EndTime</span>
            <input type="text" value="2015/12/31 00:00" class="datetimepicker form-control" id="endtime"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input class="btn btn-default" id="btnReset" type="button" value="Reset Time Filter"/>
          </div>
        </div>
      </div>
      <table id="testtable" class="table table-bordered">
        <thead>
          <tr>
            <th style="display: none">time</th>
            <th data-dynatable-sorts="time">Date</th>
            <th>Filename</th>
            <th>Action</th>
            <th>Submit-Type</th>
            <th data-dynatable-sorts="level">Rating</th>
            <th style="display: none">level</th>
          </tr>
        </thead>
      </table>
      {% if metafile %}
      <table id="datatable" class="table table-bordered">
        <thead>
          <tr>
            <th style="display: none">time</th>
            <th data-dynatable-sorts="time">Date</th>
            <th>Filename</th>
            <th>Action</th>
            <th>Submit-Type</th>
            <th data-dynatable-sorts="level">Rating</th>
            <th style="display: none">level</th>
          </tr>
        </thead>
        <tbody>
          {% for thread in metafile %}
          <tr>
            <td></td>
            <td>{{thread.date}}</td>
            <td>{{thread.filename}}</td>
            <td>{{thread.action}}</td>
            <td>{{thread.submittype}}</td>
            <td>{{thread.rating}}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

    <script src="static/js/jquery-1.11.3.js"></script>
    <script src="static/js/jquery.datetimepicker.js"></script>
    <script src="static/js/jquery.dynatable.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
  </body>
</html>
