<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fortinet Threads Detector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" rel='stylesheet' type="text/css" media="screen">
    <link href="{% static 'jquery-dynatable/jquery.dynatable.css' %}" rel='stylesheet' type="text/css">
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type="text/css">
    <link href="{% static 'css/jquery.datetimepicker.css' %}" rel='stylesheet' type="text/css">
  </head>
  <body>
    <h1 align="center">Fortinet Threads Monitor</h1>
    <input type="text" value="2015/01/01 00:00" class="datetimepicker" id="starttime"/>
    <input id="startTimeReset" type="button" value="reset"/>
    <input type="text" value="2015/12/31 00:00" class="datetimepicker" id="endtime"/>
    <input id="endTimeReset" type="button" value="reset"/>
    <input class="btn" id="timeFilter" type="button" value="Filter"/>
    <div class="container">
      {% load bootstrap3 %}
      {% if metafile %}
      <table id="datatable" class="table table-straped">
        <thead>
          <tr>
            <th style="display: none">time</th>
            <th data-dynatable-sorts="time">Date</th>
            <th>Filename</th>
            <th>Action</th>
            <th>Submit-Type</th>
            <th data-dynatable-sorts="level">Rating</th>
            <th style="display: none">level</th>
          </tr>
        </thead>
        <tbody>
          {% for thread in metafile %}
          <tr>
            <td></td>
            <td>{{thread.date}}</td>
            <td>{{thread.filename}}</td>
            <td>{{thread.action}}</td>
            <td>{{thread.submittype}}</td>
            <td>{{thread.rating}}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

    <script src="static/js/jquery-1.11.3.js"></script>
    <script src="static/js/jquery.datetimepicker.js"></script>
    <script src="static/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="static/jquery-dynatable/jquery.dynatable.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
