<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fortinet Threads Detector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="{% static 'jquery-dynatable/jquery.dynatable.css' %}" rel='stylesheet' type="text/css">
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" rel='stylesheet' type="text/css" media="screen">
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type="text/css">
  </head>
  <body>
    <h1 align="center">Fortinet Threads Monitor</h1>
    <!-- <div class="container"> -->
    <!--   <div class="row"> -->
    <!--     <div class='col&#45;sm&#45;6'> -->
    <!--       <div class="form&#45;group"> -->
    <!--         <div class='input&#45;group date' id='datetimepicker1'> -->
    <!--           <input type='text' class="form&#45;control" /> -->
    <!--           <span class="input&#45;group&#45;addon"> -->
    <!--             <span class="glyphicon glyphicon&#45;calendar"></span> -->
    <!--           </span> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
    <div class="container">
      {% if metafile %}
      <table id="datatable" class="table table-straped">
        <thead>
          <tr>
            <th style="display: none">time</th>
            <th data-dynatable-sorts="time">Date</th>
            <th>Filename</th>
            <th>Action</th>
            <th>Submit-Type</th>
            <th data-dynatable-sorts="level">Rating</th>
            <th style="display: none">level</th>
          </tr>
        </thead>
        <tbody>
          {% for thread in metafile %}
          <tr>
            <td></td>
            <td>{{thread.date}}</td>
            <td>{{thread.filename}}</td>
            <td>{{thread.action}}</td>
            <td>{{thread.submittype}}</td>
            <td>{{thread.rating}}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

    <script src="static/js/jquery-1.11.3.js"></script>
    <script src="static/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="static/jquery-dynatable/jquery.dynatable.js"></script>
    <script src="static/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
